* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wide {
  width: 85%;
  margin: auto;
}

.dark-blue {
  background-color: #1F2937;
  color: white;
}

.navbar {
  padding: 15px 0;
}

.navbar > .wide,
.row-one > .wide {
  display: flex;
  justify-content: space-between;
}

.links > ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

.links > ul > li > a {
  color: white;
  text-decoration: none;
}

.row-one {
  padding: 50px 0;
}

.row-one-left > h1 {
  font-size: 55px;
}

.row-one-left > p, 
.row-two-content > div > p {
  font-size: 15px;
  font-weight: lighter;
}

button {
  border: none 20px;
  padding: 5px 25px;
  background-color: #3882F6;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.row-one-left > button {
  margin-top: 10px;
}

.row-two {
  padding-bottom: 50px;
}

.row-two > h2,
.row-two > .thin > h2 {
  padding: 20px 0;
  text-align: center;
}

.thin {
  width: 80%;
  margin: auto;
}

.row-two-content {
  display: flex;
  justify-content: space-between;
}

.row-two-content > div {
  width: 20%;
}

.row-two-content > div > div {
  border: solid #3882F6;
  height: 200px;
  border-radius: 15px;
}

.row-two-content > div > p {
  text-align: center;
}

.gray {
  background-color: #E5E7EB;
  padding: 30px 0;
}

#quote {
  font-size: 25px;
}

#author {
  text-align: right;
  padding-right: 30px;
  font-size: 15px;
  font-weight: bold;
}