@font-face {
  font-family: 'Roboto';
  src: url(/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

.dark-blue {
  background-color: #1f2937;
  color: white;
}

.light-gray {
  background-color: #e5e7eb;
}

.size {
  width: 95%;
  margin: auto;
}

#nav-bar-left > h1 {
  font-size: 1.3rem;
  padding-top: 10px;
}

#section-one {
  display: flex;
  flex-direction: column-reverse;
}

#section-one-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 10px;
}

#section-one-text > h1 {
  font-size: 2rem;
}

#section-one-text > p {
  font-size: 1rem;
  font-weight: 100;
}

.gray-image {
  margin: 10px auto;
  width: min(95%, 550px);
  height: 200px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-bar-right {
  display: none;
}

#section-two {
  margin: 20px auto;
  text-align: center;
}

#section-two > div {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.white-images {
  border: solid #3882f6;
  height: 150px;
}

.section-two-text,
.white-images {
  margin: auto;
  width: 150px;
}

.section-two-text > p {
  font-size: 0.9rem;
}

#section-two > h2 {
  font-size: 1.2rem;
  font-weight: 900;
}

.sign-up {
  width: 70px;
  background-color: #3882f6;
  border: none;
  padding: 5px 0;
  color: white;
  border-radius: 5px;
}

#section-three {
  padding: 20px 0;
}

#quote {
  font-weight: lighter;
  font-size: 1.2rem;
  font-style: italic;
}

#author {
  text-align: right;
  font-weight: 900;
}

#section-four {
  width: 85%;
  margin: 20px auto;
  background-color: #3882f6;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

#section-four-left > h4 {
  font-size: 1rem;
}

#section-four-left > p {
  font-size: 0.9rem;
}

#section-four-right > button {
  margin-top: 5px;
  border: solid white;
}

footer {
  text-align: center;
}
